*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #186A3B;
    color: white;
    text-align: center;
    display: block;
    width: 100%;
}
.one{
    background-color: #1B4F72;
    color: white;
    float: left;
    width: 100px;
    margin: 15px;
    padding: 5px;
}
.two{
    background-color: #0E6251;
    color: white;
    float: left;
    width: 100px;
    margin: 15px;
    padding: 5px;
}